name: matiiss-com

networks:
  backend:
  shared-net:
    external: true

volumes:
  nginx_cache:
  tls:
  acme.sh:
  ip_txt:

services:
  nginx:
    restart: unless-stopped
    build:
      context: ./nginx
      dockerfile: Dockerfile
    command: |-
      /bin/sh -c '
      while ! nginx -t; do
        echo "Waiting for nginx config to be ready...";
        sleep 10;
      done;
      nginx -g "daemon off;";
      '
    networks:
      - backend
      - shared-net
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginx_cache:/var/cache/nginx
      - tls:/etc/nginx/ssl
    labels:
      - sh.acme.autoload.domain=matiiss.com

  flask:
    extends:
      file: docker-compose-flask.yaml
      service: flask
    networks:
      - backend

  acme.sh:
    restart: unless-stopped
    image: neilpang/acme.sh
    container_name: acme.sh
    entrypoint: |-
      /bin/sh -c '
      if ! /entry.sh --list | grep -q matiiss.com; then
        /entry.sh --register-account -m matiiss@matiiss.com;
      fi;
      /entry.sh --issue --ecc --dns dns_dgon -d matiiss.com -d www.matiiss.com -d blog.matiiss.com -d www.blog.matiiss.com -d cj12.matiiss.com;
      /entry.sh --deploy --ecc -d matiiss.com -d *.matiiss.com --deploy-hook docker;
      /entry.sh daemon;
      '
    volumes:
      - acme.sh:/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock
    env_file: .env-acme-sh
    environment:
      - DO_API_KEY=${DIGITALOCEAN_API_KEY}

  dynamic_dns:
    restart: unless-stopped
    build:
      context: ./dynamic_dns
      dockerfile: Dockerfile
    volumes:
      - ip_txt:/app/ip.txt
    network_mode: host
    env_file: .env
