@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Titan+One&display=swap');

:root {
    --logo-font: 'Rubik Mono One', monospace;
    // --logo-font: 'Monoton', sans-serif;
    // --logo-font: 'Titan One', sans-serif;
    --logo-font-size: 2rem;
    --std-border-radius: 2rem;
}

* {
    font-family: 'Courier New', Courier, monospace;
    // font-weight: bold;
}

body {
    background-color: #282A36;
    color: #F8F8F2;
}

hr {
    background-color: #A9B7C6;
    margin: 3rem 0;
}

.nav-bar {
    border-bottom: 2px solid #A9B7C6;
}

.nav-button {
    user-select: none;
    border-radius: 25rem;
    cursor: pointer;
    background-color: #FFB86C;
    color: #44475A;
}

.logo-font {
    user-select: none;
    font-size: var(--logo-font-size);
    font-family: var(--logo-font);
    color: #50FA7B;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
}

.short-desc {
    font-size: 3rem; 
    font-weight: bold;
    max-width: 680px;
    // min-height: 300px;
}

.project-frame {
    // display: flex;
    margin: 1rem;
    padding: 0;

    align-items: center;
    justify-content: center;

    border: 2px solid #A9B7C6;
    border-radius: var(--std-border-radius);
    aspect-ratio: 1 / 1;
    
    cursor: pointer;
    // z-index: 1;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    div {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;

        background-color: rgba($color: white, $alpha: 0.7);
        opacity: 0;
        transition: 0.5s;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // z-index: 3;
        user-select: none;
        opacity: 0;
        transition: 0.5s;

        font-size: 2rem;
        font-weight: bold;
        color: #44475A;

        text-align: center;
    }

    a {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    &:hover p{
        opacity: 1;
    }

    &:hover div{
        opacity: 1;
    }
}

.skillset-note {
    border-radius: var(--std-border-radius);
    background-color: #FFB86C;
    color: #44475A;
    padding: 5rem;
    justify-content: center;

    font-size: 2rem;
}

.skillset-note-title {
    font-size: 2.5rem;
    font-weight: bold;
}
