services:
  flask:
    build:
      target: dev

    volumes:
      - ./:/app:rw

      - ${HOME}/.ssh:/home/user/.ssh:ro

      - ${HOME}/.gitconfig:/home/user/.gitconfig:ro
    
    entrypoint: sleep infinity
