@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Titan+One&display=swap');

// @font-face {
//     font-family: 'Rubik Mono One';
//     src: url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap') format('monospace');
// }

// :root {
//     --logo-font: 'Rubik Mono One', monospace;
//     // --logo-font: 'Monoton', sans-serif;
//     // --logo-font: 'Titan One', sans-serif;
//     --logo-font-size: 2rem;
//     --std-border-radius: 2rem;
// }

$logo-font: 'Rubik Mono One', monospace;
$logo-font-size: 2rem;
$std-border-radius: 2rem;

$fg-color: #F8F8F2;

* {
    font-family: 'Courier New', Courier, monospace;
    cursor: default;
    // user-select: none;
    // font-weight: bold;
}

body {
    background-color: #282A36;
    color: $fg-color;
}

a:hover {
    text-decoration: none;
}

hr {
    background-color: #A9B7C6;
    margin: 3rem 0;
}

.nav-bar {
    border-bottom: 2px solid #A9B7C6;
    background-color: #44475A;
    // display: none;  // what is this doing?
}

.nav-button {
    user-select: none;
    border-radius: 25rem;
    cursor: pointer;
    background-color: #FFB86C;
    color: #44475A;

    position: relative;

    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: inherit;

        cursor: pointer;
    }
    
    &:hover {
        background-color: #8BE9FD;
    }

    @media (max-width: 400px) {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
}

.hero-image {
    z-index: 0;
    position: absolute;

    top: 60%;
    right: 0%;

    @media (min-width: 991px) {
        left: 75%;
        top: 60%;
    }
}

.logo-font {
    user-select: none;
    font-size: $logo-font-size;
    font-family: $logo-font;
    color: #50FA7B;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    color: $fg-color;

    @media (max-width: 420px) {
        font-size: 2.5rem;
    }
}

.short-desc {
    font-size: 3rem; 
    font-weight: bold;
    max-width: 680px;
    // min-height: 300px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-frame {
    margin: 1rem;
    padding: 0;

    // align-items: center;
    // justify-content: center;
    // align-self: stretch;

    border: 2px solid #A9B7C6;
    border-radius: $std-border-radius;
    aspect-ratio: 1 / 1;
    // min-width: 150px;
    position: relative;

    user-select: none;
    cursor: pointer;

    img {
        // display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    div {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;

        background-color: rgba(#8BE9FD, 0.8);
        opacity: 0;
        transition: 0.5s;

        cursor: pointer;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // z-index: 3;
        opacity: 0;
        transition: 0.5s;

        font-size: 1.5rem;
        font-weight: bold;
        color: #44475A;

        text-align: center;
    }

    a {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;

        cursor: pointer;
    }

    &:hover p{
        opacity: 1;
    }

    &:hover div{
        opacity: 1;
    }
}

.contribution {
    border: 1px solid $fg-color;
    padding: 2rem;
    border-radius: $std-border-radius;
    margin: 1.5rem 0;

    h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    a {
        color: $fg-color;
        text-decoration: underline;
        
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    p {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.skillset-note {
    border-radius: $std-border-radius;
    background-color: #FFB86C;
    color: #44475A;
    padding: 2rem;
    justify-content: center;
    // user-select: none;

    font-size: 2rem;
    font-weight: 600;
}

.skillset-note-title {
    font-size: 2.5rem;
    font-weight: bold;

    @media (max-width: 991px) {
        text-align: center;
    }
}

.skillset-speciality-wrapper {
    display: flex;
    position: relative;

    .skillset-speciality {
        // user-select: none;
        // margin-right: 2rem;
        transition: 0.1s;
        // position: relative;

        display: flex;
        align-items: center;

        object {
            width: 70px;
            margin-right: 1rem;
            // margin-left: -1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;

            text-align: center;
        }

        div {
            @media (max-width: 420px) {
                font-size: 1.5rem;
            }
        }
    }

    &:hover {
        .skillset-speciality {
            transform: translateX(2rem);
            // padding-left: 2rem;
        }
    }
}

.footer {
    border-top: 2px solid #A9B7C6;
    background-color: #44475A;

    margin-top: auto;
}

.social-link {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem;

    img {
        width: 32px;
        height: auto;
        margin-right: 1rem;
    }

    a {
        color: $fg-color;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin: 0;
        color: $fg-color;
    }
}
